<div class="card mb-3">
  <div class="card-header">
    {{name}}
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-1">
      <p>{{description}}</p>
      <p>Date Created: {{format_date date_created}}</p>
      <p>Funding Needed: {{needed_funding}}</p>
    </blockquote>
  </div>
</div>